.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.eventRow {
  padding: 0.5rem;
  background-color: var(--primary-100);
  border-radius: 5px;
}

.eventContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: flex-start;
  grid-gap: 1rem;
  margin: 1rem;
  word-break: break-all;
}

@media (max-width: 800px) {
  .page {
    overflow: auto;
  }

  .eventContainer {
    grid-template-columns: 1fr;
    max-width: 80vw;
  }

  .eventContainer > div {
    width: 100%;
  }

  .columnName {
    font-weight: bold;
  }
}
