.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: unset;
}

.nav .navContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--background-100);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav .navContainer ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul li {
  list-style: none;
}
