.page {
  padding: 10px 20px 10px calc(5.5rem + 20px);
}

.filter {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 20px 10px 30px 10px;
}

.selections {
  display: flex;
  width: 50%;
  gap: 10px;
}

@media (max-width: 800px) {
  .page {
    padding: 10px 20px;
  }

  .filter {
    flex-direction: column;
    gap: 10px;
  }

  .selections {
    width: 100%;
    flex-direction: column;
  }
}
